#!/usr/bin/env bash

# --------------- #
# FILE NAVIGATION #
# --------------- #
alias ls='ls --color=auto -lh'
alias grep='grep --color=auto'
alias vi='nvim $(fzf)'

# ----- #
# UTILS #
# ----- #
alias todo='nvim ${HOME}/.todo.md'

function camdown() {
  if (set -x; find /dev -iname 'video*' -exec fuser -k {} \;);
  then
    echo "All processes using video-devices were killed"
  else
    echo 2>&1 "Failed to kill processes using video-devices"
  fi
}

# ------------ #
# VIEWING DOCS #
# ------------ #
function view() {
  case "$(echo "${1}" | awk -F "." '{print $NF}')" in
    "docx")
      DOCX="${1}"
      MD="${DOCX//.docx/.md}"
      pandoc -t markdown_strict "${DOCX}" -o "${MD}" && nvim "${MD}"
      ;;
    "pdf")
      zathura "${1}"
      ;;
    *)
      if [ "$(file "${1}" | awk -F " " '{print $NF}')" = "text" ]; then
        nvim "$1"
      else
        echo "'${1}' must be a valid text file!"
      fi
      ;;
  esac
}

# ------- #
# GIT GUD #
# ------- #
function gb() { git branch "$@"; }
function gs() { git status "$@"; }
function gd() { git diff "$@"; }
function ga() { git add "$@"; }
function gl() { git log -n "${1:-1}"; }
function gr() { git rebase -i HEAD~"${1:-1}"; }
function gc() { git commit -m "$*"; }
function gf() { git fetch --all --prune --tags "$@"; }

# ---- #
# PDFS #
# ---- #
function encrypt-pdf() {
  if [ "$#" -lt 1 ]; then
    echo "Usage: encrypt-pdf <SOME_PDF_TO_ENCRYPT>" >&2
    echo "a qpdf wrapper for quick pdf encryption" >&2
    return 1
  fi

  INPUT_PDF="$1"
  OUTPUT_PDF="encrypted-${INPUT_PDF}"

  read -r -p "input a password: " -s PASS
  echo ""
  read -r -p "retype the password: " -s PASS_TEST
  echo ""
  if [ "${PASS}" != "${PASS_TEST}" ]; then
    echo "Passwords don't match!" >&2
    return 1
  fi

  if [ -z "${PASS}" ]; then
    echo "Cannot assign empty password" >&2
    return 1
  fi

  qpdf --encrypt "${PASS}" "${PASS}" 256 -- "${INPUT_PDF}" "${OUTPUT_PDF}"
  echo "Generated encrypted PDF: ${OUTPUT_PDF}"
  echo "Goodbye!"
}
